Source: pycsdr-sstv
Maintainer: Jakob Ketterl <jakob.ketterl@gmx.de>
Section: hamradio
Priority: optional
Rules-Requires-Root: no
Standards-Version: 4.3.0
Build-Depends: debhelper (>= 12), dh-python, python3-all (>= 3.5), libpython3-dev (>= 3.5), python3-setuptools, libcsdr-sstv-dev (>= 0.1), python3-csdr (>= 0.19)

package: python3-csdr-sstv
Architecture: any
Depends: libcsdr-sstv0 (>= 0.1), ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Python bindings for libcsdr-sstv
